<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.groundupworks.wings.gcp">

    <application android:allowBackup="true">
        <activity
            android:name=".GoogleCloudPrintSettingsActivity"
            android:label="@string/wings_gcp__settings__label"
            android:finishOnTaskLaunch="true" />
    </application>
</manifest>
